
*{
    margin: 0;
    border:0;
    padding: 0;
}
#heading{
    margin-bottom: 20px;
}
body{
    background-color: rgb(189, 187, 187);
    font-size: 20px;
}
img{
    display: block;
    margin: 0 auto;
    max-width: 600px;
    border: 4px solid black;
    border-radius: 6px;
}
.list li a{
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-left: 20px;   
}
.list li a:hover{
    color: rgb(228, 61, 61);
}
.home, h1, h2, p{
    margin-left: 10px;

}
h1, h2{
    color: rgb(228, 61, 61);
}
ul, ol{
    margin-left: 30px;
    margin-bottom: 10px;
}
.home{
    text-decoration: none;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    font-family: 'Times new roman', sans-serif;
}
.home:hover{
    color: rgb(228, 61, 61);
    text-decoration: underline;
}
